<ul>
  <li> <%= link_to "IRB", "http://ruby-doc.org/stdlib-2.1.2/libdoc/irb/rdoc/index.html" %></li>
    <p class= "libraries">Interactive Ruby command-line tool for REPL (Read Eval Print Loop)</p>

  <li> <%= link_to "RDoc", "http://ruby-doc.org/stdlib-2.1.2/libdoc/rdoc/rdoc/index.html" %></li>
    <p class= "libraries">Produces HTML and command-line documentation for Ruby</p>

  <li> <%= link_to "OptParse", "http://ruby-doc.org/stdlib-2.1.2/libdoc/optparse/rdoc/index.html" %></li>
    <p class= "libraries">Ruby-oriented class for command-line option analysis</p>

  <li> <%= link_to "GetoptLong", "http://ruby-doc.org/stdlib-2.1.2/libdoc/getoptlong/rdoc/index.html" %></li>
    <p class= "libraries">Parse command line options similar to the GNU C getopt_long</p>

  <li> <%= link_to "PTY", "http://ruby-doc.org/stdlib-2.1.2/libdoc/pty/rdoc/index.html" %></li>
    <p class= "libraries">Creates and manages pseudo terminal</p>

  <li> <%= link_to "Win32Ole", "http://ruby-doc.org/stdlib-2.1.2/libdoc/win32ole/rdoc/index.html" %></li>
    <p class= "libraries">A helper class for windows OLE, (Object Linking and Embedding) which is used to control other programs like excel, etc.</p>

  <li> <%= link_to "un", "http://ruby-doc.org/stdlib-2.1.2/libdoc/un/rdoc/index.html" %></li>
    <p class= "libraries">Utilities to replace common UNIX commands</p>
</ul>
