<ul>
  <li> <%= link_to "IRB", "http://ruby-doc.org/stdlib-2.1.2/libdoc/irb/rdoc/index.html" %></li>
    <p class= "libraries">Interactive Ruby Shell</p>

  <li> <%= link_to "ERB", "http://ruby-doc.org/stdlib-2.1.2/libdoc/erb/rdoc/index.html" %></li>
    <p class= "libraries">An easy to use but powerful templating system for Ruby</p>

  <li> <%= link_to "Gem", "http://ruby-doc.org/stdlib-2.1.2/libdoc/gem/rdoc/index.html" %></li>
    <p class= "libraries">Package management framework for Ruby</p>

  <li> <%= link_to "DL", "http://ruby-doc.org/stdlib-2.1.2/libdoc/dl/rdoc/index.html" %></li>
    <p class= "libraries">Provides a wrapper for the UNIX dlopen() library</p>

  <li> <%= link_to "Fiddle", "http://ruby-doc.org/stdlib-2.1.2/libdoc/fiddle/rdoc/index.html" %></li>
    <p class= "libraries">A libffi wrapper for Ruby</p>
</ul>
