<ul>
  <li><%= link_to "E2MMap", "http://ruby-doc.org/stdlib-2.1.2/libdoc/e2mmap/rdoc/index.html" %></li>
    <p class= "libraries">Module for defining custom exceptions with specific messages</p>

  <li><%= link_to "Debug", "http://ruby-doc.org/stdlib-2.1.2/libdoc/debug/rdoc/index.html" %></li>
    <p class= "libraries">Debugging functionality for Ruby</p>

  <li><%= link_to "Benchmark ", "http://ruby-doc.org/stdlib-2.1.2/libdoc/benchmark/rdoc/DateTime.html" %></li>
    <p class= "libraries">Provides methods to measure and report the time used to execute code</p>

  <li><%= link_to "MiniTest", "http://ruby-doc.org/stdlib-2.1.2/libdoc/minitest/rdoc/index.html" %></li>
    <p class= "libraries">A test suite with TDD, BDD, mocking and benchmarking</p>

  <li> <%= link_to "Test/Unit", "http://ruby-doc.org/stdlib-2.1.2/libdoc/test/unit/rdoc/index.html" %></li>
    <p class= "libraries">A compatibility layer for MiniTest</p>
</ul>
