<ul>
  <li> <%= link_to "CGI", "http://ruby-doc.org/stdlib-2.1.2/libdoc/cgi/rdoc/index.html" %></li>
    <p class= "libraries">Support for the Common Gateway Interface protocol</p>

  <li><%= link_to "GServer", "http://ruby-doc.org/stdlib-2.1.2/libdoc/gserver/rdoc/index.html" %></li>
    <p class= "libraries">HTTP server with logging, thread pooling and multi-server management</p>

  <li><%= link_to "Webrick", "http://ruby-doc.org/stdlib-2.1.2/libdoc/webrick/rdoc/index.html" %></li>
    <p class= "libraries">An HTTP server toolkit for Ruby</p>

  <li><%= link_to "Open URI", "http://ruby-doc.org/stdlib-2.1.2/libdoc/open-uri/rdoc/index.html" %></li>
    <p class= "libraries">An easy-to-use wrapper for Net::HTTP, Net::HTTPS and Net::FTP</p>

  <li><%= link_to "Net::FTP", "http://ruby-doc.org/stdlib-2.1.2/libdoc/net-ftp/rdoc/index.html" %></li>
    <p class= "libraries">Support for the File Transfer Protocol</p>

  <li><%= link_to "Net::HTTP", "http://ruby-doc.org/stdlib-2.1.2/libdoc/net-http/rdoc/index.html" %></li>
    <p class= "libraries">HTTP client api for Ruby</p>

  <li><%= link_to "Net::IMAP", "http://ruby-doc.org/stdlib-2.1.2/libdoc/net-imap/rdoc/index.html" %></li>
    <p class= "libraries">Ruby client api for Internet Message Access Protocol</p>

  <li><%= link_to "Net::Pop3", "http://ruby-doc.org/stdlib-2.1.2/libdoc/net-ipop3/rdoc/index.html" %></li>
    <p class= "libraries">Ruby client library for POP3</p>

  <li><%= link_to "Net::SMTP", "http://ruby-doc.org/stdlib-2.1.2/libdoc/net-smtp/rdoc/index.html" %></li>
    <p class= "libraries">Simple Mail Transfer Protocol client library for Ruby</p>

  <li><%= link_to "Net::Telnet", "http://ruby-doc.org/stdlib-2.1.2/libdoc/net-telnet/rdoc/index.html" %></li>
    <p class= "libraries">Telnet client library for Ruby</p>

  <li><%= link_to "RSS", "http://ruby-doc.org/stdlib-2.1.2/libdoc/rss/rdoc/index.html" %></li>
    <p class= "libraries">Family of libraries that support various formats of XML “feeds”</p>

  <li><%= link_to "XMLRPC", "http://ruby-doc.org/stdlib-2.1.2/libdoc/xmlrpc/rdoc/index.html" %></li>
    <p class= "libraries">Remote Procedure Call over HTTP support for Rubyi</p>
</ul>
