<ul>
  <li> <%= link_to "CMath", "http://ruby-doc.org/stdlib-2.1.2/libdoc/cmath/rdoc/index.html" %></li>
    <p class= "libraries">Provides Trigonometric and Transcendental functions for complex numbers</p>
  <li> <%= link_to "Matrix", "http://ruby-doc.org/stdlib-2.1.2/libdoc/matrix/rdoc/index.html" %></li>
    <p class= "libraries">Represents a mathematical matrix.</p>

  <li> <%= link_to "Mathn", "http://ruby-doc.org/stdlib-2.1.2/libdoc/mathn/rdoc/index.html" %></li>
    <p class= "libraries">Deprecated library that extends math operations</p>

  <li> <%= link_to "Prime", "http://ruby-doc.org/stdlib-2.1.2/libdoc/prime/rdoc/index.html" %></li>
    <p class= "libraries">Prime numbers and factorization library</p>

  <li> <%= link_to "TSort", "http://ruby-doc.org/stdlib-2.1.2/libdoc/tsort/rdoc/index.html" %></li>
    <p class= "libraries">Topological sorting using Tarjan’s algorithm</p>

  <li> <%= link_to "SecureRandom", "http://ruby-doc.org/stdlib-2.1.2/libdoc/secure-random/rdoc/index.html" %></li>
    <p class= "libraries">Interface for secure random number generator -this may go under the encoding chapter instead</p>

  <li> <%= link_to "BigDecimal", "http://ruby-doc.org/stdlib-2.1.2/libdoc/big-decimal/rdoc/index.html" %></li>
    <p class= "libraries">Provides arbitrary-precision floating point decimal arithmetic</p>
</ul>
