<ul>
  <li> <%= link_to "Delegator", "http://ruby-doc.org/stdlib-2.1.2/libdoc/delegator/rdoc/index.html" %></li>
    <p class= "libraries">Provides three abilities to delegate method calls to an object</p>

  <li> <%= link_to "DRb", "http://ruby-doc.org/stdlib-2.1.2/libdoc/drb/rdoc/index.html" %></li>
    <p class= "libraries">Distributed object system for Ruby. dRuby allows methods to be called in one Ruby process upon a Ruby object located in another Ruby process, even on another machine. References to objects can be passed between processes. Method arguments and return values are dumped and loaded in marshalled format. All of this is done transparently to both the caller of the remote method and the object that it is called upon.</p>

  <li> <%= link_to "Forwardable", "http://ruby-doc.org/stdlib-2.1.2/libdoc/forwardable/rdoc/index.html" %></li>
    <p class= "libraries">Provides delegation of specified methods to a designated object</p>

  <li> <%= link_to "ObjSpace", "http://ruby-doc.org/stdlib-2.1.2/libdoc/objspace/rdoc/index.html" %></li>
    <p class= "libraries">Extends ObjectSpace module to add methods for internal statistics</p>

  <li> <%= link_to "Shell", "http://ruby-doc.org/stdlib-2.1.2/libdoc/shell/rdoc/index.html" %></li>
    <p class= "libraries">An idiomatic Ruby interface for common UNIX shell commands</p>
</ul>
