<ul>
  <li><%= link_to "Abbrev", "http://ruby-doc.org/stdlib-2.1.2/libdoc/abbrev/rdoc/index.html" %></li>
    <p class= "libraries">Calculates a set of unique abbreviations for a given set of strings</p>

  <li><%= link_to "CSV", "http://ruby-doc.org/stdlib-2.1.2/libdoc/csv/rdoc/DateTime.html" %></li>
    <p class= "libraries">Provides an interface to read and write CSV files and data</p>

  <li><%= link_to "English", "http://ruby-doc.org/stdlib-2.1.2/libdoc/English/rdoc/index.html" %></li>
    <p class= "libraries">Require ‘English.rb’ to reference global variables with less cryptic names</p>

  <li> <%= link_to "FileUtils", "http://ruby-doc.org/stdlib-2.1.2/libdoc/fileutils/rdoc/index.html" %></li>
    <p class= "libraries">Several file utility methods for copying, moving, removing, etc</p>

  <li><%= link_to "StringScanner", "http://ruby-doc.org/stdlib-2.1.2/libdoc/strscan/rdoc/index.html" %></li>
    <p class= "libraries">Provides lexical scanning operations on a String</p>

  <li><%= link_to "SDBM", "http://ruby-doc.org/stdlib-2.1.2/libdoc/sdbm/rdoc/DateTime.html" %></li>
    <p class= "libraries">Provides a simple file-based key-value store with String keys and values</p>

  <li><%= link_to "Readline", "http://ruby-doc.org/stdlib-2.1.2/libdoc/readline/rdoc/index.html" %></li>
    <p class= "libraries">Provides an interface for GNU Readline and Edit Line</p>

  <li> <%= link_to "pp", "http://ruby-doc.org/stdlib-2.1.2/libdoc/pp/rdoc/index.html" %></li>
    <p class= "libraries">Provides a PrettyPrinter for Ruby objects</p>

  <li> <%= link_to "PrettyPrint", "http://ruby-doc.org/stdlib-2.1.2/libdoc/prettyprint/rdoc/index.html" %></li>
    <p class= "libraries">Implements a pretty printing algorithm for readable structure</p>

  <li><%= link_to "IO", "http://ruby-doc.org/stdlib-2.1.2/libdoc/io/rdoc/index.html" %></li>
    <p class= "libraries">Extensions for Ruby IO class, including wait and ::console</p>

  <li><%= link_to "Socket", "http://ruby-doc.org/stdlib-2.1.2/libdoc/socket/rdoc/DateTime.html" %></li>
    <p class= "libraries">Access underlying OS socket implementations</p>

  <li><%= link_to "stringio", "http://ruby-doc.org/stdlib-2.1.2/libdoc/stringio/rdoc/index.html" %></li>
    <p class= "libraries">Pseudo I/O on String objects</p>

  <li> <%= link_to "ShellWords", "http://ruby-doc.org/stdlib-2.1.2/libdoc/shellwords/rdoc/index.html" %></li>
    <p class= "libraries">Manipulates strings with word parsing rules of UNIX Bourne shell</p>

  <li> <%= link_to "set", "http://ruby-doc.org/stdlib-2.1.2/libdoc/set/rdoc/index.html" %></li>
    <p class= "libraries">Provides a class to deal with collections of unordered, unique values</p>

  <li><%= link_to "Find", "http://ruby-doc.org/stdlib-2.1.2/libdoc/find/rdoc/index.html" %></li>
    <p class= "libraries">This module supports top-down traversal of a set of file paths</p>

  <li><%= link_to "Tempfile", "http://ruby-doc.org/stdlib-2.1.2/libdoc/tempfile/rdoc/DateTime.html" %></li>
    <p class= "libraries">A utility class for managing temporary files</p>

  <li><%= link_to "Pathname", "http://ruby-doc.org/stdlib-2.1.2/libdoc/pathname/rdoc/index.html" %></li>
    <p class= "libraries">Representation of the name of a file or directory on the filesystem</p>

  <li> <%= link_to "Fcntl", "http://ruby-doc.org/stdlib-2.1.2/libdoc/fcntl/rdoc/index.html" %></li>
    <p class= "libraries">Loads constants defined in the OS fcntl.h C header file</p>

  <li><%= link_to "Scanf", "http://ruby-doc.org/stdlib-2.1.2/libdoc/scanf/rdoc/index.html" %></li>
    <p class= "libraries">A Ruby implementation of the C function scanf</p>

  <li><%= link_to "tmpdir", "http://ruby-doc.org/stdlib-2.1.2/libdoc/tmpdir/rdoc/DateTime.html" %></li>
    <p class= "libraries">Extends the Dir class to manage the OS temporary file path</p>

  <li><%= link_to "Open3", "http://ruby-doc.org/stdlib-2.1.2/libdoc/open3/rdoc/index.html" %></li>
    <p class= "libraries">Provides access to stdin, stdout and stderr when running other programs</p>

  <li> <%= link_to "pstore", "http://ruby-doc.org/stdlib-2.1.2/libdoc/etc/rdoc/index.html" %></li>
    <p class= "libraries">Provides access to information typically stored in UNIX /etc directory</p>

</ul>
