<ul>
  <li><%= link_to "Abbrev", "http://ruby-doc.org/stdlib-2.1.2/libdoc/abbrev/rdoc/index.html" %></li>
    <p class= "libraries">Calculates a set of unique abbreviations for a given set of strings</p>

  <li><%= link_to "CSV", "http://ruby-doc.org/stdlib-2.1.2/libdoc/csv/rdoc/DateTime.html" %></li>
    <p class= "libraries">Provides an interface to read and write CSV files and data</p>

  <li><%= link_to "English", "http://ruby-doc.org/stdlib-2.1.2/libdoc/English/rdoc/index.html" %></li>
    <p class= "libraries">Require ‘English.rb’ to reference global variables with less cryptic names</p>

  <li> <%= link_to "FileUtils", "http://ruby-doc.org/stdlib-2.1.2/libdoc/fileutils/rdoc/index.html" %></li>
    <p class= "libraries">Several file utility methods for copying, moving, removing, etc</p>

  <li><%= link_to "StringScanner", "http://ruby-doc.org/stdlib-2.1.2/libdoc/strscan/rdoc/index.html" %></li>
    <p class= "libraries">Provides lexical scanning operations on a String</p>

  <li><%= link_to "SDBM", "http://ruby-doc.org/stdlib-2.1.2/libdoc/sdbm/rdoc/DateTime.html" %></li>
    <p class= "libraries">Provides a simple file-based key-value store with String keys and values</p>

  <li><%= link_to "Readline", "http://ruby-doc.org/stdlib-2.1.2/libdoc/readline/rdoc/index.html" %></li>
    <p class= "libraries">Provides an interface for GNU Readline and Edit Line</p>

  <li> <%= link_to "pstore", "http://ruby-doc.org/stdlib-2.1.2/libdoc/pstore/rdoc/index.html" %></li>
    <p class= "libraries"></p>

  <li> <%= link_to "pstore", "http://ruby-doc.org/stdlib-2.1.2/libdoc/pstore/rdoc/index.html" %></li>
    <p class= "libraries"></p>

  <li><%= link_to "DBM", "http://ruby-doc.org/stdlib-2.1.2/libdoc/dbm/rdoc/index.html" %></li>
    <p class= "libraries"></p>

  <li><%= link_to "Ostruct", "http://ruby-doc.org/stdlib-2.1.2/libdoc/ostruct/rdoc/DateTime.html" %></li>
    <p class= "libraries"></p>

  <li><%= link_to "GDBM", "http://ruby-doc.org/stdlib-2.1.2/libdoc/gdbm/rdoc/index.html" %></li>
    <p class= "libraries"></p>

  <li> <%= link_to "pstore", "http://ruby-doc.org/stdlib-2.1.2/libdoc/pstore/rdoc/index.html" %></li>
    <p class= "libraries"></p>


</ul>

<!--
PP
Provides a PrettyPrinter for Ruby objects

PrettyPrinter
Implements a pretty printing algorithm for readable structure

IO
Extensions for Ruby IO class, including wait and ::console

Socket
Access underlying OS socket implementations

StringIO
Pseudo I/O on String objects

Shellwords
Manipulates strings with word parsing rules of UNIX Bourne shell

Set
Provides a class to deal with collections of unordered, unique values

Find
This module supports top-down traversal of a set of file paths

Tempfile
A utility class for managing temporary files

Pathname
Representation of the name of a file or directory on the filesystem

Fcntl
Loads constants defined in the OS fcntl.h C header file

Scanf
A Ruby implementation of the C function scanf(3)

tmpdir.rb
Extends the Dir class to manage the OS temporary file path

Open3
Provides access to stdin, stdout and stderr when running other programs

Etc
Provides access to information typically stored in UNIX /etc directory
-->
