<p>A thread of execution is a sequence of Ruby statements that run (or appear to run) in parallel with the main sequence of statements that the interpreter is running. Threads are implemented within the Ruby interpreter. That makes the Ruby threads completely portable - they don't rely on the operating system. 
<%= link_to "More about Threads", "http://rubylearning.com/satishtalim/ruby_threads.html" %></p>

<ul>

  <li> <%= link_to "Rinda", "http://ruby-doc.org/stdlib-2.1.2/libdoc/rinda/rdoc/index.html" %></li>
    <p class= "libraries">The Linda distributed computing paradigm in Ruby</p>

  <li> <%= link_to "Queue", "http://ruby-doc.org/stdlib-2.1.2/libdoc/queue/rdoc/index.html" %></li>
    <p class= "libraries">Synchronized communication between threads, provided by thread.rb</p>

  <li> <%= link_to "Resolv", "http://ruby-doc.org/stdlib-2.1.2/libdoc/resolv/rdoc/index.html" %></li>
    <p class= "libraries">Thread-aware DNS resolver library in Ruby</p>

  <li> <%= link_to "resolv-replace", "http://ruby-doc.org/stdlib-2.1.2/libdoc/resolv-replace/rdoc/index.html" %></li>
    <p class= "libraries">Replace Socket DNS with Resolv</p>

  <li> <%= link_to "Thread", "http://ruby-doc.org/stdlib-2.1.2/libdoc/thread/rdoc/index.html" %></li>
    <p class= "libraries">Provides support classes for threaded programs</p>

  <li> <%= link_to "ThreadsWait", "http://ruby-doc.org/stdlib-2.1.2/libdoc/thwait/rdoc/index.html" %></li>
    <p class= "libraries">Watches for termination of multiple threads</p>

  <li> <%= link_to "Monitor", "http://ruby-doc.org/stdlib-2.1.2/libdoc/monitor/rdoc/index.html" %></li>
    <p class= "libraries">Provides an object or module to use safely by more than one thread</p>

  <li> <%= link_to "Mutex-m", "http://ruby-doc.org/stdlib-2.1.2/libdoc/mutex_m/rdoc/index.html" %></li>
    <p class= "libraries">Mixin to extend objects to be handled like a Mutex</p>

  <li> <%= link_to "Sync", "http://ruby-doc.org/stdlib-2.1.2/libdoc/sync/rdoc/index.html" %></li>
    <p class= "libraries">A module that provides a two-phase lock with a counter</p>

  <li> <%= link_to "WeakRef", "http://ruby-doc.org/stdlib-2.1.2/libdoc/weakref/rdoc/index.html" %></li>
    <p class= "libraries">Allows a referenced object to be garbage-collected</p>

</ul>
