<%= render partial: "shared/navbar" %>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-6 left outline">
      <h2>Adventure 1</h2>
      <h3>Objective 3</h3>

      <p>Shelly, Shelly, Shelly. Where are you?</p>
      <p>Cuddy is getting hungry, tired and scared.</p>
      <p>When you get an error, the first and the best, the main thing to do is to READ THE ERROR. This can be hard at times beacuase on first look it might seem like you broke something. Don't worry, it's just the computer talking to you and telling you what is wrong. (Now you can see why computers don't get a lot of dates.)
      <p>Take your time, read the error. Find the part that is trying to tell you something. Your computer really wants to help you and Cuddy really wants to get out of that hole. 
      <p>Check your code for errors and TRY AGAIN. :)</p>
      <p>Think of it as a game.</p>
      <div class='well'><code class="code-example">Net::HTTP.get_response(URI('http://shelly.herokuapp.com'))</code></div>

    </div>
    <div class="col-xs-6 pull-right outline">
      <div class="left replbox">
        <%= form_tag repl_adventure_objective_path(1, 1) do %>
          <%= text_field_tag :ripl_input, @ripl_output, class: "inputform", placeholder: '>>' %>
          <%= submit_tag "submit", class: "btn btn-success btn-adventure" %>
        <% end %>
      </div>
      <div class="pull-left instructions">
        <p>enter / return - Submit code</p>
        <p>next - Move to the next lesson</p>
        <p>back - Return to previous lesson</p>
      </div> 
      <div class="smallpics pull-left">
        <%= image_tag("200.jpg") %>
      </div>
    </div>
  </div>
</div>
